{% if menu %}
    <ul>
        {% for item in menu %}
            <li class="{{ item.classes | join(' ') }}">
                <a href="{{ item.link }}">
                    {% if item.name|lower == "instagram" %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32">
<path 
    fill="{{ color|default("#000") }}"
    d="M 11.550747,4 C 7.3856898,4 4,7.3857 4,11.55078 v 8.90011 C 4,24.61596 7.3856898,28 11.550747,28 h 8.900159 C 24.615964,28 28,24.61596 28,20.45089 V 11.55078 C 28,7.3857 24.615964,4 20.450906,4 Z m 0,1.94309 h 8.900159 c 3.122616,0 5.606008,2.48504 5.606008,5.60769 v 8.90011 c 0,3.12264 -2.483392,5.60605 -5.606008,5.60605 h -8.900159 c -3.1226159,0 -5.6076613,-2.48341 -5.6076613,-5.60605 v -8.90011 c 0,-3.12265 2.4850454,-5.60769 5.6076613,-5.60769 z m 10.849859,2.0572 a 1.6000425,1.6000426 0 0 0 -1.600772,1.59912 1.6000425,1.6000426 0 0 0 1.600772,1.60074 1.6000425,1.6000426 0 0 0 1.599118,-1.60074 1.6000425,1.6000426 0 0 0 -1.599118,-1.59912 z m -6.399779,1.59912 c -3.524218,0 -6.4014331,2.8772 -6.4014331,6.40142 0,3.52422 2.8772151,6.3998 6.4014331,6.3998 3.524218,0 6.399779,-2.87558 6.399779,-6.3998 0,-3.52422 -2.875561,-6.40142 -6.399779,-6.40142 z m 0,1.77604 c 2.566185,0 4.623716,2.0592 4.623716,4.62538 0,2.56619 -2.057531,4.62372 -4.623716,4.62372 -2.566185,0 -4.62537,-2.05753 -4.62537,-4.62372 0,-2.56618 2.059185,-4.62538 4.62537,-4.62538 z"
/>
                    </svg>
                    {% elseif item.name|lower == "facebook" %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32">

<path 
    fill="{{ color|default("#000") }}"
    d="m 20.529165,28 v -9.232094 h 3.098923 l 0.46395,-3.597979 h -3.562873 c 0.03988,-1.054224 -0.09852,-2.127677 0.112671,-3.164989 0.401555,-1.10261 1.74039,-0.85335 2.681867,-0.884194 0.32912,-0.08136 1.060789,0.239634 0.893835,-0.337569 V 7.902331 c -2.00027,-0.148918 -4.324628,-0.508818 -5.963642,0.935256 -1.40224,1.190662 -1.495425,3.12044 -1.44017,4.825274 v 1.507066 h -3.106784 v 3.597979 h 3.106784 V 28 H 7.9909924 C 5.779986,28 4,26.220024 4,24.009016 V 7.990985 C 4,5.779977 5.779986,4 7.9909924,4 H 24.009008 C 26.220015,4 28,5.779977 28,7.990985 V 24.009016 C 28,26.220024 26.220015,28 24.009008,28 Z"
/>
                    </svg>
                    {% elseif item.name|lower == "twitter" %}
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32">

<path 
    fill="{{ color|default("#000") }}"
    d="m 13.804,22.33 c 5.322,0 8.232,-4.41 8.232,-8.232 0,-0.126 0,-0.252 -0.006,-0.372 0.564,-0.408 1.056,-0.918 1.446,-1.5 -0.516,0.228 -1.074,0.384 -1.662,0.456 0.6,-0.36 1.056,-0.924 1.272,-1.602 -0.558,0.33 -1.176,0.57 -1.836,0.702 -0.528,-0.564 -1.278,-0.912 -2.112,-0.912 -1.596,0 -2.892,1.296 -2.892,2.892 0,0.228 0.024,0.45 0.078,0.66 -2.406,-0.12 -4.536,-1.272 -5.964,-3.024 -0.246,0.426 -0.39,0.924 -0.39,1.452 0,1.002 0.51,1.89 1.29,2.406 -0.474,-0.012 -0.918,-0.144 -1.308,-0.36 0,0.012 0,0.024 0,0.036 0,1.404 0.996,2.568 2.322,2.838 -0.24,0.066 -0.498,0.102 -0.762,0.102 -0.186,0 -0.366,-0.018 -0.546,-0.054 0.366,1.152 1.434,1.986 2.7,2.01 -0.99,0.774 -2.238,1.236 -3.594,1.236 -0.234,0 -0.462,-0.012 -0.69,-0.042 1.266,0.828 2.79,1.308 4.422,1.308 M 28,16 A 12,12 0 0 1 16,28 12,12 0 0 1 4,16 12,12 0 0 1 16,4 12,12 0 0 1 28,16 Z"
/>
                    </svg>

                    {% else %}
                    <img src="{{ theme.link ~ '/images/icons/' ~ item.title ~ '.svg' }}" />
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
